<!-- Sticky header -->
<header class="header__wrapper">
  <div class="header__wrapper--elements">
    <div>
      <img class="header-logo" src="assets/images/logo.svg" />
    </div>
    <nav class="menu-items">
      <!-- @for (item of items; track item.name) {
      <li>{{ item.name }}</li>
      } @empty {
      <li>There are no items.</li>
      } -->
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Blog</a>
      <a href="#">Contact Us</a>
      <button>Menu</button>
    </nav>
  </div>
</header>
