.header {
  &__wrapper {
    background-color: #2a5c0b;

    .menu-items {
      > a {
        font-size: 0.65em;
        font-weight: bold;
        line-height: 5em;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFF;
      }
    }

    &--elements {
      display: flex;
    }

    .header-logo {
      height: 24px;
      width: 24px;
    }
  }

}
