<section class="produtos-list">
  <h1>Produtos</h1>

  <p *ngIf="loading">Carregando produtos...</p>
  <p *ngIf="error" class="error">{{ error }}</p>

  <div *ngIf="!loading && !error && products.length === 0">
    Nenhum produto encontrado.
  </div>

  <ul *ngIf="products.length > 0">
    <li *ngFor="let produto of products">
      <strong>{{ produto.name }}</strong>
      <span *ngIf="produto.price"> - R$ {{ produto.price }}</span>
      <pre>{{ produto | json }}</pre>
    </li>
  </ul>
</section>
